name: Release

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  pack-and-publish:
    name: Pack & Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Restore
        run: dotnet restore SlideGenerator.Framework.csproj

      # Pack NuGet
      - name: Pack
        run: dotnet pack SlideGenerator.Framework.csproj -c Release -o artifacts/nuget

      # Publish DLL (AnyCPU)
      - name: Publish
        run: dotnet publish SlideGenerator.Framework.csproj -c Release -o artifacts/bin

      - name: Upload release assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            artifacts/nuget/*.nupkg
            artifacts/bin/SlideGenerator.Framework.dll
